<html>
<head>

    <title>cd organizer</title>
</head>
<body>
    <div class="container">
        <form action="/something" method="post">
            <div class="form-group">
                <label for="album">put your album right here</label>
                <input type="text" name="album" id="album">
            </div>
            <button type="button" name="submit">push me</button>
        </form>

    </div>

</body>
</html>
