<html>
<head>
    <title>List of them all</title>
</head>
<body>
    <h1>Wow!</h1>
    <p>Look at all yr stuff.</p>
    {% if cds is not empty %}
        <ul>
        {% for cd in cds %}
            <li> {{ cd.getAlbum }} </li>
            <li> {{ cd.getArtist }} </li>

            {% endfor %}
        </ul>
    {% endif %}
    <a href='/'>Add a new one</a>
</body>
</html>
