<html>
<head>
    <title>List of them all</title>
</head>
<body>
    <h1>Wow!</h1>
    <p>Look at all yr stuff.</p>
    {% if cds is not empty %}
        <ul>
        {% for cd in cds %}
            <li><h3> {{ cd.getAlbum }} </h3></li>
                <ul>
                    <li> {{ cd.getArtist }} </li>
                </ul>
        {% endfor %}
        </ul>
        {% endif %}
        <a href='/'>Add a new one</a>

        <form action='/delete' method='post'>
            <button type='submit'>BURN THEM</button>
        </form>
</body>
</html>
