<html>
<head>
    <title>New Entry</title>
</head>
<body>
    <h1>Wow!</h1>
    <p>Look at your new CD.</p>
    <h3>{{ cds.getAlbum }}</h3>

    <a href='/'>Add a new one</a>
    <p>or</p>
    <a href='/list'>See all</a>
</body>
</html>
