<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Search Results</title>
</head>
<body>
    <h1>Your Result</h1>
    {% if cd is empty %}
        <h1>NOTHING</h1>
    {% else %}
        {% for booger in cd %}
        <ul>
            <li><h3>{{ booger.getArtist }}</h3></li>
            <ul>
                <li>{{ booger.getAlbum }}</li>
            </ul>

        </ul>
        {% endfor %}
    {% endif %}
    <a href='/list'>Home</a>
</body>
</html>
