<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Search Results</title>
</head>
<body>
    <h1>Your Result</h1>
    {% if cd is empty %}
        <h1>NOTHING</h1>
    {% else %}
        {% for booger in cd %}
            <p>{{ booger.getArtist }}</p>
            <p>{{ booger.getAlbum }}</p>
        {% endfor %}
    {% endif %}
    <a href='/list'>Home</a>
</body>
</html>
